@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #131313;
  --color-ink: #e5e2e1;
  --color-subtle: #e9bcb5;
  --color-accent: #e60000;
  --color-panel: #201f1f;
  --color-panel-dark: #0e0e0e;
  --color-stroke: #353534;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-ink);
  background: var(--color-bg);
  font-family: var(--font-body);
}

.font-display {
  font-family: var(--font-display);
}

.font-mono {
  font-family: var(--font-mono);
}

.font-body {
  font-family: var(--font-body);
}
